
.cita-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 1rem;
  background-color: #a2c2e7;
}


.cita-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #333;
}


.cita-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 450px;
}


.cita-input,
.cita-select {
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}


.cita-button-agendar {
  padding: 0.75rem;
  background-color: #1a4849;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cita-button-agendar:hover {
  background-color: #347e80;
}

.cita-button-logout {
  padding: 0.75rem;
  margin-top: 1rem;
  background-color: #ef4444;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cita-button-logout:hover {
  background-color: #dc2626;
}


.cita-message {
  margin-top: 1rem;
  text-align: center;
  color: #666;
  font-size: 0.9rem;
}